.legend_container{
    background-color: white;
    color: black;
    text-align: center;
}
.legend_container h4{
    margin: 0;
}

#legend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    height: 82%;

}
.legend-item {
    margin-bottom: 5px;
}

.legend-icon {
    width: 20px; 
    margin-right: 5px;
}

.legend-label {
    font-size: 14px; 
}

.attributions{
    height: 20px;
    width: 100%;
    background-color: #3690c0;
    color: white;
    font-size: 12px;
}