#legend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: white;

}
.legend-item {
    margin-bottom: 5px;
}

.legend-icon {
    width: 20px; 
    margin-right: 5px;
}

.legend-label {
    font-size: 14px; 
}
