@media screen and (max-width: 500px) and (min-width: 100px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 500px) and (min-width: 100px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px) {
    #toolbutton{
        background-color: #5864AE;
        width: 50px;
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
        height: 30px;
        font-size: 5px;
    
    }
}



@media screen and (max-width: 1200px) and (min-width: 900px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    #toolbutton{
        background-color: #5864AE;
        width: 50px;
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
        height: 30px;
        font-size: 5px;
    
    }
}






@media screen and (max-width: 1600px) and (min-width: 1200px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1200px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
    #toolbutton{
        background-color: #5864AE;
        width: 100px;
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
        height: 40px;
        font-size: 10px;
    
    }
}