@media screen and (max-width: 500px) and (min-width: 100px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 500px) and (min-width: 100px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px) {
    #toolbutton1, #toolbutton2, #toolbutton3 {
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
    
    }
    #toolbutton1{
        background-color: #3690c0;
    }
    #toolbutton2{
        background-color: #02818a;
    }
    #toolbutton3{
        background-color: #045a8d;
    }
}


@media screen and (max-width: 1200px) and (min-width: 500px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1200px) and (min-width: 500px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
    #toolbutton1, #toolbutton2, #toolbutton3 {
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
        height: 40px;
    
    }
    #toolbutton1{
        background-color: #3690c0;
    }
    #toolbutton2{
        background-color: #02818a;
    }
    #toolbutton3{
        background-color: #045a8d;
    }
}






@media screen and (max-width: 1600px) and (min-width: 1200px) {
    .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1200px) {
    .tools_panel{
        background-color: #E7E6F3;
        border-left: 1px solid #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
    #toolbutton1, #toolbutton2, #toolbutton3 {
        border-style: none;
        border: 1px solid #E7E6F3;
        color: white;
        height: 40px;
    
    }
    #toolbutton1{
        background-color: #3690c0;
    }
    #toolbutton2{
        background-color: #02818a;
    }
    #toolbutton3{
        background-color: #6a51a3;
    }
    #toolbutton1:hover, #toolbutton2:hover, #toolbutton3:hover{
        background-color: rgba(53, 36, 36, 0.788);
    }
    
}