@media screen and (max-width: 1600px) and (min-width: 100px) {
    .workspace{
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 15fr;
        z-index: 10;
    }
}

@media screen and (max-width: 1600px) and (min-width: 100px) {
    .title{
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}